@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;700&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
}

p {
    font-weight: 300;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

fieldset {
    border-style: hidden;
    padding: 0;
}

label {
    font-weight: 300;
}

/* Main Container */
.main {
    display: grid;
    grid-template-columns: 15% 1fr 0.5fr;
    grid-template-rows: 0.5fr 2fr;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 15%;
    grid-column: 1;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 1fr 1fr;
    font-family: Heebo, sans-serif;
    font-size: 1.25rem;
    color: #d4d4d4;
    padding-bottom: 1.25rem;
    background-color: #394148;
}

    .sidebar > img {
        place-self: center;
    }

    .sidebar > div:nth-child(2) {
        display: grid;
        grid-template-rows: repeat(6, min-content);
        row-gap: 0.75rem;
    }
    .sidebar > div:nth-child(3) {
        display: grid;
        align-content: end;
        row-gap: 0.75rem;
    }

    .sidebar > div div {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding-left: 1.25rem;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .sidebar > div div:hover {
        color: #fac60c;
        background-color: rgb(255, 255, 255, 0.1);
    }

/* Header */
.header {
    display: grid;
    grid-column: 2 / -1;
    grid-row: 1;
    grid-template-columns: 1fr 0.5fr;
    font-family: Heebo, sans-serif;
    color: #394148;
    padding: 0 1.25rem;
    align-items: center;
    background-color: #f5f5f5;
}

    .header > h1 {
        font-size: 2.25rem;
        font-weight: 700;
    }

    .header > div:nth-child(2) {
        display: grid;
        grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
        font-size: 1.25rem;
        align-items: center;
    }

    .header svg:hover {
        transform: scale(1.2);
    }

    .header > div:nth-child(2) div {
        font-weight: 500;
    }

    .profile_pic {
        border-radius: 50%;
    }

    .profile_pic:hover {
        transform: scale(1.2);
        border: 2px dashed #fac60c;
    }

/* Main Content */
.content {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: auto auto;
    gap: 1.75rem;
    font-family: Heebo, sans-serif;
    color: #394148;
    padding: 1.25rem;
    background-color: #e7e5e4;
}
    .content h2 {
        font-weight: 500;
        margin-bottom: 0;
    }

/* Main Content's Child Elements */
    .project {
        grid-column: 1;
        grid-row: 1 / 3;
    }

        .project > h2 {
            grid-column: 1 / 3;
        }

        .project p {
            margin-bottom: 0.83em;
        }

        .project > div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 1.75rem;
        }

        .project > div div {
            padding: 1.25rem;
            border-radius: 15px;
            box-shadow: 5px 5px 7px #a1a1aa;
            background-color: #f5f5f5;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.25fr 1fr 0.25fr;
        }

        .project > div h3 {
            font-weight: 400;
            font-size: 1.25rem;
            margin: 0;
        }

        .project span {
            justify-self: end;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }

        .project img:hover {
            transform: scale(1.2);
        }

    .announcements {
        grid-column: 2;
        grid-row: 1;
    }

        .announcements > p {
            margin-bottom: 0.83em;
        }

        .announcements > div {
            border-radius: 15px;
            box-shadow: 5px 5px 7px #a1a1aa;
            padding: 1.25rem;            
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            gap: 0.5rem;
            background-color: #f5f5f5;
        }

        .announcements h3 {
            font-weight: 400;
            font-size: 1.25rem;
            margin: 0;
        }

        .announcements h3:hover {
            color: #fac60c;
        }

    .todolist {
        grid-column: 2;
        grid-row: 2;
    }

        .todolist > h2 {
            margin: 0;
        }

        .todolist > p {
            margin-bottom: 0.83em;
        }

        .todolist > div {
            border-radius: 15px;
            box-shadow: 5px 5px 7px #a1a1aa;
            padding: 1.25rem; 
            background-color: #f5f5f5;
        }

        .todolist label {
            display: grid;
            grid-template-columns: 1em auto;
            gap: 0.5em;
        }

        .todolist input {
            appearance: none;
            background-color: #ffffff;
            margin: 0;
            font: inherit;
            color: currentColor;
            width: 1.15em;
            height: 1.15em;
            border: 0.15em solid currentColor;
            transform: translateY(0.075em);
            display: grid;
            place-content: center;
        }

        .todolist input::before {
            content: "";
            width: 0.85em;
            height: 0.85em;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            background-color: #34b233;
            transform-origin: bottom left;
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        }

        .todolist input:checked::before {
            transform: scale(1);
        }