@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;700&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
}

/* Main Container */
.main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.5fr 4fr;
    height: 100vh;
}

/* Logo */
.logo {
    grid-area: 1 / 1;
    background-color: #394148;
    padding: 0 1.25rem;
    display: grid;
    place-content: center;
}

/* Sidebar */
.sidebar {
    grid-column: 1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    font-family: Heebo, sans-serif;
    font-size: 1.25rem;
    color: #d4d4d4;
    padding-bottom: 1.25rem;
    background-color: #394148;
}
    .sidebar > div:nth-child(1) {
        display: grid;
        grid-template-rows: repeat(6, min-content);
        row-gap: 0.75rem;
    }
    .sidebar > div:nth-child(2) {
        display: grid;
        align-content: end;
        row-gap: 0.75rem;
    }

    .sidebar > div div {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding-left: 1.25rem;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .sidebar > div div:hover {
        color: #fac60c;
        background-color: rgb(255, 255, 255, 0.1);
    }

/* Header */
.header {
    display: grid;
    grid-column: 2 / -1;
    grid-row:  1;
    grid-template-columns: 1fr 0.5fr;
    font-family: Heebo, sans-serif;
    color: #394148;
    padding: 0 1.25rem;
    align-items: center;
    background-color: #f5f5f5;
}

    .header > h1 {
        font-size: 2.25rem;
        font-weight: 500;
    }

    .header > div:nth-child(2) {
        display: grid;
        grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
        font-size: 1.25rem;
        align-items: center;
    }

    svg:hover {
        transform: scale(1.2);
    }

    .header > div:nth-child(2) div {
        font-weight: 500;
    }

    .profile_pic {
        border-radius: 50%;
    }

    .profile_pic:hover {
        transform: scale(1.2);
        border: 2px dashed #fac60c;
    }

/* Main Content */
.content {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-family: Heebo, sans-serif;
    background-color: #f5f5f5;
}

/* Main Content's Child Elements */
    .project {
        grid-column: 1;
        grid-row: 1 / 3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

        .project > div:first-child {
            grid-column: 1 / 3;
        }

    .announcements {
        grid-column: 2;
        grid-row: 1;
    }

    .todolist {
        grid-column: 2;
        grid-row: 2;
    }