@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro:wght@300;400;500;700&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    background-color:  #394148;
}

/* Main Container */
.main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

/* Logo */
.logo {
    grid-area: 1 / 1;
    background-color: #394148;
}

/* Sidebar */
.sidebar {
    display: grid;
    grid-column: 1;
    grid-row: 2 / 3;
    gap: 1.5rem;
    font-family: 'Press Start 2P', cursive;
    background-color: #394148;
}
    .sidebar > div:nth-child(2) {
        align-self: end;
    }

/* Header */
.header {
    display: grid;
    grid-column: 2 / -1;
    grid-row:  1;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(72, 85, 96, .7);
}

    .header > div:nth-child(2) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: end;
    }

/* Main Content */
.content {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-family: 'Source Code Pro', monospace;
    background-color: rgb(72, 85, 96, .7);
}

/* Main Content's Child Elements */
    .project {
        grid-column: 1;
        grid-row: 1 / 3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

        .project > div:first-child {
            grid-column: 1 / 3;
        }

    .announcements {
        grid-column: 2;
        grid-row: 1;
    }

    .todolist {
        grid-column: 2;
        grid-row: 2;
    }